#padding1 {
    padding: 10px;
}

#padding2 {
    padding: 10px;
}

#padding3 {
    padding: 10px;
}

div {
    padding: 20px;
    padding-bottom: 10px;
}

span {
    background-color: aliceblue;
    border: 5px solid;
}